<!-- templates/posts/group_list.html -->
{% extends 'base.html' %}
{% block content %}
  <div class="container py-5">
    <h1>{{ group.title }}</h1>
    <p>
      {{ group.description }}
    </p><hr>
    <article>
      {% for post in posts %}
        <ul>
          <li>
            Author: {{ post.author.get_full_name }}
          </li>
          <li>
            Published on: {{ post.pub_date|date:"d E Y" }}
          </li>
        </ul>
        <p>{{ post.text }}</p>
        <!-- под последним постом нет линии -->
        {% if not forloop.last %}<hr>{% endif %}
      {% endfor %}
    </article>
    <!-- под последним постом нет линии -->
  </div>
{% endblock %}
